h1, h2, h3, p {
  color: #fff;
}

.map-canvas {
  width: 600px;
  height: 400px;
}

.logo {
  text-align: center;
  img {
    width: 200px;
    margin: 0 auto;
  }
}

.spinner-text {
  text-align: center;
}

.map-container {
  display: none;
}
