.panel-success {
  background-color: #87D37C;
  border: none;
  outline: none;
}

.panel-warning {
  background-color: #D91E18;
}

.panel-primary {
  background-color: #F89406;
}

.place-icon-container i {
  font-size: 40px;
}
