.panel-info {
  background-color: #89C4F4;
}

.panel-success {
  background-color: #87D37C;
  border: none;
  outline: none;
}

.panel-danger {
  background-color: #D91E18;
}

.panel-primary {
  background-color: #F89406;
}


.place-icon-container {
  margin-top: 19px;

  .loader-inner {
    margin-top: 9px;
  }

  i {
    font-size: 40px;
  }
}

.place-container {
  p {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
  }
  small {
    font-family: 'Lato', sans-serif;
  }
}

.search-again-btn {
  color: #F0F0F0;
}

.result-key {
  margin-bottom: 10px;
}

.result-key-default {
  span {
    background-color: #89C4F4;
  }
}

.result-key-success {
  span {
    background-color: #87D37C;
  }
}

.result-key-danger {
  span {
    background-color: #D91E18;
  }
}

.result-key-primary {
  span {
    background-color: #F89406;
  }
}
